boto3>=1.34.88
pandas
openpyxl

# Development dependencies (linting and formatting)

black
flake8
mypy
pre-commit
isort
pytest
pytest-cov
setuptools>=78.1.1
gitpython>=3.1.41
urllib3>=2.0.7; python_version >= "3.10"
urllib3==1.26.19; python_version < "3.10"
